fieldset{background-image: linear-gradient(to right, rgb(0, 75, 75),black)}
button {
    background: transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
button:hover {background-color: teal}
button:focus {background-color: blueviolet}
button:active {background-color: yellow}
